DATABASE_URL=postgres://postgres:<username>@localhost:5432/eventstore
DATABASE_TEST_URL=postgres://postgres:<username>@localhost:5432/eventstore_test

SUPABASE_TEST_URL=https://<project id>.supabase.co
SUPABASE_TEST_KEY=<anon key>
SUPABASE_TEST_SERVICE_ROLE_KEY=<secret key>

SUPABASE_TEST_TABLE=events_spa
SUPABASE_TEST_SCHEMA=public
SUPABASE_TEST_APPEND_FUNCTION=eventstore_append

SUPABASE_TEST_TENANT_ID=
SUPABASE_TEST_EMAIL=user@example.com
SUPABASE_TEST_PASSWORD=user!1234

SUPABASE_TEST_TENANT_A_EMAIL=tenant-a@example.com
SUPABASE_TEST_TENANT_A_PASSWORD=tenant-a-password
SUPABASE_TEST_TENANT_B_EMAIL=tenant-b@example.com
SUPABASE_TEST_TENANT_B_PASSWORD=tenant-b-password
